* {
    margin: 0;
    padding: 0;
    color: #cccccc;
}

body {
    background-color: #1f1f1f;
    font-family: sans-serif;
}

h1, h2, h3 {
    padding: 10px 20px;
}

section {
    margin: 50px 0;
}

main{
    box-sizing: border-box;
    border: 2px solid #cccccc;
    border-radius: 10px;
    margin: 50px;
    padding: 20px 40px;
    color: #cccccc;
}

header, footer{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    margin: 20px 50px;
    padding: 20px;
    text-align: center;
    border: 2px solid #cccccc;
}

#personal-info-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#personal-info-image {
    width: 20%;
    height: auto;
    margin: 5px;
    border: 4px solid #cccccc;
    border-radius: 100%;
}

#personal-info-text {
    width: fit-content;
    text-align: center;
}

#personal-info-media {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.personal-info-media-image {
    width: auto;
    height: 30px;
}

a {
    text-decoration: none;
    display:flex;
    align-items: center;
	padding:10px;
}

a:hover h3{
    color: #cccccc;
}



p, ul, li {margin: 0 20px;}

p {
    text-align: justify;
}

span {font-weight: bolder;}

.small-logo{width: 30px;}


/* menu */
#menu {
    margin: 10px auto;
    font-size: 1.5em;
    background-color: #1f1f1f;
    border-radius: 2px;
    border: 2px solid #cccccc;
    width: fit-content;
}

#menu-items-list {
    list-style:none;
    overflow:hidden;
    border: 1px solid #1f1f1f;
}

.menu-item {
    float: left;
}

.menu-a {
    color: #cccccc;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.menu-a:hover {
    background: #cccccc;
    color: #1f1f1f;
    border: 2px solid #1f1f1f;
    padding: 8px 13px;
}
